@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #141414;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;

}

.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.btn {
  background-color: red;
  outline: none;
  border: none;
  color: #fff;
  padding: 12px 40px;
}

.header_section {
  display: flex;
  justify-content: space-between;
}

.header_section h2 {
  color: #fff;
}

.header_section button {
  color: red;
  background-color: transparent;
  border: none;
}

.section {
  margin-top: 30px;
}

/*slide* **/
.control_left {
  position: absolute;

  border: 1px solid #fff;
  top: 50%;
  left: 10px;
  border-radius: 50%;
  z-index: 88;
  cursor: pointer;
  overflow: hidden;
  width: 50px;
  height: 50px;
}


.control_right {
  position: absolute;
  display: flex;
  border: 1px solid #fff;
  top: 50%;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  z-index: 88;

}

.arrow {
  margin: 0;
  width: 50px;
  height: 50px;
  font-size: large;
  margin: 0;
  color: #fff;
  border-radius: 50%;
}

.arrow:hover {
  transition: all 0.7s;
  transform: scale(140%);
}

.slide_container h1 {
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 800;
  background-image: url("../../../public/images/texure.jpg");
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.box .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 45%;
  margin: auto;
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.details span {
  background-color: cadetblue;
  padding: 0.5rem;
}

.rating {
  display: flex;
}

.rating i {
  color: red;
}

.play_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.play_button button {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: x-large;
}

.play_button img {
  width: 6rem;
}

.cast span {
  color: red;
}

section {
  margin-block-end: 50px;
}

footer {
  position: relative;
  background-color: #191919;
}

.flex_column{
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #fff;
  gap: 1rem;
}

.flex{
  display: flex;
  justify-content: space-between;
}
footer p{
  max-width: 500px;

}