@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #141414;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;

}

.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
}

.btn {
  background-color: red;
  outline: none;
  border: none;
  color: #fff;
  padding: 12px 40px;
}