@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #141414;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;

}

p {
  line-height: 2rem;
}

.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.btn {
  background-color: red;
  outline: none;
  border: none;
  color: #fff;
  padding: 12px 40px;
}

.header_section {
  display: flex;
  justify-content: space-between;
}

.header_section h2 {
  color: #fff;
}

.header_section button {
  color: red;
  background-color: transparent;
  border: none;
}

.section {
  margin-top: 30px;
}

/* slide */
.control_left {
  position: absolute;
  border: 1px solid #fff;
  top: 50%;
  left: 10px;
  border-radius: 50%;
  z-index: 88;
  cursor: pointer;
  overflow: hidden;
  width: 50px;
  height: 50px;
}


.control_right {
  position: absolute;
  display: flex;
  border: 1px solid #fff;
  top: 50%;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  z-index: 88;

}

.arrow {
  margin: 0;
  width: 50px;
  height: 50px;
  font-size: large;
  margin: 0;
  color: #fff;
  border-radius: 50%;
}

.arrow:hover {
  transition: all 0.7s;
  transform: scale(140%);
}


section {
  margin-block-end: 50px;
}

/*-- footer --*/
footer {
  position: relative;
  background-color: #191919;
  padding: 40px 0;
  color: #fff;
}

.list {
  display: flex;
  gap: 1rem;
}

.list i {
  font-size: large;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 30px;
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .box {
    height: 600px;
  }

  .box p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}